<div class="container-fluid">
	<div class= "row-fluid" >
		<div class = "span4">
			</br>
		</div>
		<div class = "span4">
			</br>
			<%= twitter_bootstrap_form_for(:session, :url => sessions_path) do |user| %>
				<%= user.inputs 'Log in to Scratchboard', :class => 'sign_up' do %>
					</br>
					<%= user.email_field :email, :placeholder => 'your@email.com' %>
					<%= user.password_field :password %>
				<% end %>
				<%= user.actions do %>
					<%= user.submit 'Sign in', :class => 'btn'%>
			</form>
			<% end %>
		<% end %>
		</div>
		<div class = "span4">
		</div>
	</div>
</div>