<div class="container-fluid">
	<div class= "row-fluid" >
		<div class = "span4">
			&nbsp;
		</div>
		<div class = "span4">
		</br>
		</br>	
			<div class = "well">
				<div align = "center">		
					<%= twitter_bootstrap_form_for @user do |user| %>
						<%= user.inputs 'Edit your profile' do %>
						</br>
						<%= gravatar_for(@user) %></br>
						<%= link_to "Change Avatar", 'https://en.gravatar.com/emails', :target => 'new' %>
						<% end %>
						<% end %>
				</div>
			</div>
		</div>
		<div class = "span4">
			&nbsp;
			<%= render 'shared/user_error_messages' %>
		</div>
	</div>
</div>