<div class="container-fluid">
	<div class= "row-fluid" >
		<div class = "span4">
			&nbsp;
		</div>
		<div class = "span4">
			</br>
			<%= twitter_bootstrap_form_for @user do |user| %>
				<%= user.inputs 'Sign up for Scratchboard' do %>
					</br>
					<%= user.text_field :name, "Full name", :placeholder => 'Your Name' %>
					<%= user.email_field :email, :placeholder => 'your@email.com' %>
					<%= user.password_field :password %>
					<%= user.password_field :password_confirmation, 'Confirm password' %>
				<% end %>
				<%= user.actions do %>
					<%= user.submit 'Sign up', :class => 'btn btn-success'%>
			</form>
			<% end %>
		<% end %>
		</div>
		<div class = "span4">
			&nbsp;
			<%= render 'shared/error_messages' %>
		</div>
	</div>
</div>