<!DOCTYPE html>
<html>
<div class = "container">
	</br>
	</br>
	</br>
	<div class = "span4">
		&nbsp;
	</div>
	<div class = "span4">
		<div class = "well">
			<ul class="thumbnails">
				<li class="span1.5">
					</br>
		 			<div class="thumbnail">
	      			<%= gravatar_for(@user) %>
					</div>
				</li>
				<div class = "span 2">
					</br>
					</br>
					<h4><%= @user.name %></h4>
					<p>Projects: <%= @user.projects.count %></p>
					<%= link_to "New Project", '/projects/new', :class => "btn btn-success" %>
				</div>
			</ul>
		</div>
		<div class = "well">
			<div align = "center" >
				<h4>Current Projects</h4>
				</br>
				<% if @user.projects.empty? %>
					None yet. Get to work!
				<% else %>
					<%= render @projects %>
				<% end %>
			</div>
		</div>
	</div>	
	<div class = "span4">
		&nbsp;
	</div>
</div>
</html>


