<div class = "container-fluid">
	<div class = "row-fluid">
		<div class = "span9">
			<h2>
			  Welcome back, <%= @user.name %>
		  </h2>
		  <%= link_to "New project", '/projects/new', :class => "btn btn-success" %> 
		  <% unless @user.projects.empty? %>
		    <table class = "projects", summary = "User projects">
		      <h3>Your projects</h3>
		      <%= render @projects %>
		    </table>
		    <% end %>  
		</div>
		<div class = "span3">
			<%= gravatar_for(@user) %> <br />
			<strong>Name:</strong> <%= @user.name %> <br />
			<strong>Email:</strong> <%= @user.email %>
			<strong>Projects:</strong> <%= @user.projects.count %>
		</div>
	</div>
</div>
