<!DOCTYPE html>
<html lang="en">
<div class = "container-fluid">
	<div class = "hero-unit">
		<h1>Ideation meets agile</h1>
		<p>Scratchboard helps developers, designers, and product managers collaborate to generate product ideas and requirements.</p>
		<p>
		<%= link_to "Get started", getstarted_path, :class => "btn btn-success btn-large" %> 
		</p>
	</div>
	</br>
	<div class = "row-fluid">
		<div class="span6">
			<h3>Capture ideas now. Fine-tune later.</h3>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris adipiscing ultricies risus porttitor scelerisque. Nulla facilisi. Pellentesque volutpat tellus a odio elementum sit amet tincidunt eros faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris adipiscing ultricies risus porttitor scelerisque. Nulla facilisi. Pellentesque volutpat tellus a odio elementum sit amet tincidunt eros faucibus. Nulla facilisi. Pellentesque volutpat tellus a odio elementum sit amet tincidunt eros faucibus.
		</div>
		<div class ="span1">
			&nbsp;
		</div>
		<div class="span4">
			<ul class="thumbnails">
			  <li class="span4">
			    <div class="thumbnail">
			      <%= image_tag "hero_shot_large.jpg" %>
				</div>
			  </li>
			</ul>
		</div>
	</div>
	</br>
	</br>
	<div class = "row-fluid">
	<ul class="thumbnails">
		<li class ="span3">
			<div class ="thumbnail">
				<%= image_tag "feature_example.jpg" %>
			</div>
			<div align = "center">
			<h4>Visual project boards</h4>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div>
		</li>
		<div class ="span1">
			&nbsp;
		</div>
		<li class ="span3">
			<div class ="thumbnail">
				<%= image_tag "feature_example.jpg" %>
			</div>
			<div align = "center">
			<h4>All types of media</h4>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div>
		</li>
		<div class ="span1">
			&nbsp;
		</div>
		<li class ="span3">
			<div class ="thumbnail">
				<%= image_tag "feature_example.jpg" %>
			</div>
			<div align = "center">
			<h4>Easy collaboration</h4>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div>
		</li>
		<div class ="span1">
			&nbsp;
		</div>
	</ul>
	</div>
	</br>
	<div class = "row-fluid">
		<div class = "span6">
			<div class = "thumbnail" >
				<%= image_tag "get_started.jpg" %>
			</div>
		</div>
		<div class="span5">
			<div align = "center">
			<h3>Put away the Post-Its. Use Scratchboard.</h3>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris adipiscing ultricies risus porttitor scelerisque. Nulla facilisi. Pellentesque volutpat tellus a odio elementum sit amet tincidunt eros faucibus. Get started, yo!
			</div>
			</br>
			<div align = "center">
			<%= link_to "Get started", getstarted_path, :class => "btn btn-success btn-large" %> or <%= link_to "sign in", signin_path %>
			</div>
		</div>
	</div>		
</div>
</html>