<!DOCTYPE html>
<h1>Edit Collaborators</h1>
<%= link_to "Back to Project", project_path(@project) %>

<ul class="collaborators">
  <% @users.each do |user| %>
    <ul>
      <%= gravatar_for user, size: 52 %>
      <%= user.name %>
	  <div id = "add_remove_button">
	  	<% if Ownership.find_by_project_id_and_user_id(@project.id, user.id) %>
	  		<%= form_for(Ownership.find_by_project_id_and_user_id(@project.id, user.id), html: {method: :delete}) do |f| %>
			<%= f.submit "Remove", class: "btn btn-default" %>
			<% end %>
	  	<% else %>
			<%= form_for(user.ownerships.build(project_id: @project.id)) do |f| %>
			<div><%= f.hidden_field :project_id %></div>
			<div><%= f.hidden_field :user_id %></div>
			<%= f.submit "Add", class: "btn btn-success" %>
	  		<% end %>
	  	<% end %>
	  </div>
    </ul>
  <% end %>
</ul>
</html>