<!DOCTYPE html>
<%= javascript_include_tag('jquery.masonry.min') %>
<%= javascript_include_tag('jquery.imagesloaded.js') %>
<script>
$(document).ready(function() {
    var $container = $('#masonrybox');
    $container.imagesLoaded(function(){
        $container.masonry({
            itemSelector : '.scratch',
        });
    });
});
</script>
<html lang="en">
<div class = "container-fluid">
	<br>
	<div class = "row-fluid">
		<div class = "span2">
			&nbsp;
		</div>
		<div class = "span8"><div class = "page-header"><div align = "center">
		<h2><%= @project.title %></h2>
		<%= @project.body %>&nbsp;&nbsp;<%= link_to "Manage Users", collaborators_project_path(@project),  %>
		</div></div></div>
		<div class = "span2">
			&nbsp;
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span12">
			<h3>Scratches</h3>
				<% unless @project.thoughts.empty? %>
					<%= link_to "+", new_project_thought_path(@project), :class => "btn btn-mini btn-success" %>
					</br>
					</br>
					<div id = "masonrybox">
						<%= render @thoughts %>
					</div>
				<% else %>
					</br>
					<blockquote>
						<em>No scratches yet. Add one now!</em>
					</blockquote>
					<%= link_to '+', new_project_thought_path(@project), :class => "btn btn-mini btn-success" %>
				<% end %>
		</div>
			</br>
	</div>
	<div class = "row-fluid">
		<div class = "span1">
			&nbsp;
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span5">
			<h3>Brief</h3>
			</br>
			<% if @project.brief.blank? %>
				<blockquote>
					<em>No brief yet</em>
				</blockquote>
				<%= link_to "+", edit_project_path(@project), :class => "btn btn-mini btn-success" %>
			<% else %>
				<blockquote>
					<%= @project.brief %> &nbsp;
					<%= link_to "edit", edit_project_path(@project) %>
				</blockquote>
			<% end %>
		</div>
		<div class = "span1">
			&nbsp;
		</div>
		<div class = "span4">
		<h3>Stories</strong></h3>
		</br>
		<% if @project.stories.empty? %>
			<blockquote>
				<em>No stories yet</em>
			</blockquote>
		<% else %>
			<%= render @stories %>
		<% end %>
		<%= link_to "+", new_project_story_path(@project), :class => "btn btn-mini btn-success" %>
		</br>
		</br>
		</div>
		<div class = "span1">
			&nbsp;
		</div>
	</div>
</div>
</html>

