<!DOCTYPE html>
<html lang="en">
<div class = "container-fluid">
	<br>
	<div class = "row-fluid">
		<div class = "span3">
			&nbsp;
		</div>
		<div class = "span6"><div class = "page-header"><div align = "center">
		<h2><%= @project.title %></h2>
		<%= @project.body %>
		</div></div></div>
		<div class = "span3">
			&nbsp;
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span1">
			&nbsp;
		</div>
		<div class = "span11">
			<h3>Scratches</h3>
			<% unless @project.thoughts.empty? %>
				<%= link_to "+", new_project_thought_path(@project), :class => "btn btn-mini btn-success" %>
				</br>
				</br>
				<%= render @thoughts %>
			<% else %>
				</br>
				<blockquote>
					<em>No scratches yet. Add one now!</em>
				</blockquote>
				<%= link_to '+', new_project_thought_path(@project), :class => "btn btn-mini btn-success" %>
			<% end %>
			</br>
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span1">
			&nbsp;
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span1">
			&nbsp;
		</div>
		<div class = "span5">
			<h3>Brief</h3>
			</br>
			<% if @project.brief.blank? %>
				<blockquote>
					<em>No brief yet</em>
				</blockquote>
				<%= link_to "+", edit_project_path(@project), :class => "btn btn-mini btn-success" %>
			<% else %>
				<blockquote>
					<%= @project.brief %> &nbsp;
					<%= link_to "edit", edit_project_path(@project) %>
				</blockquote>
			<% end %>
		</div>
		<div class = "span1">
			&nbsp;
		</div>
		<div class = "span4">
		<h3>Stories</strong></h3>
		</br>
		<% if @project.stories.empty? %>
			<blockquote>
				<em>No stories yet</em>
			</blockquote>
		<% else %>
			<%= render @stories %>
		<% end %>
		<%= link_to "+", new_project_story_path(@project), :class => "btn btn-mini btn-success" %>
		</br>
		</br>
		</div>
		<div class = "span1">
			&nbsp;
		</div>
	</div>
</div>
</html>

