<style>
  textarea { width: 100%; padding: 4px; }
</style>
<div class = "span3">
	<div class = "scratch">
		<div class = "well">
			<div class = "row-fluid">
				<div class = "break-word">
					<strong><%= auto_link(thought.content, :html => {:target => '_blank' }) %></strong>
				</div>
				<div>		
					</br>
				</div>
			</div>
			<div class = "row-fluid">
				<% if thought.scratchfile.exists? %>
					<% if thought.has_thumbnail? %>
			        	<%= link_to(image_tag(thought.scratchfile.url(:small), :class => 'thumbnail'),
			            thought.scratchfile.url, :target => 'new') %>
			   			<% else %>
						<div align = "center">
							<%= link_to(file_icon, thought.scratchfile.url, :target => 'new') %></br>
							<td><%= thought.scratchfile_file_name %></td>
						</div>
			        <% end %>	
				<% end %>
				</br>
				<em>Added <%= time_ago_in_words(thought.created_at) %> ago</em>
				</br>
			</div>
			<div class = "row-fluid">
				<%= twitter_bootstrap_form_for :comment, :remote => true,
				:url => project_thought_comments_path(@project.id,thought.id) do |c| %>
				<%= c.inputs do %>
				  	<%= c.text_area :content, "_", :size => '10x2', :id => "comment_box_#{thought.id}" %>
				  <%= c.actions do %>
				          <%= c.submit 'Add comment', :class => 'btn btn-mini' %>
				  <% end %>
				<% end %>
				<% end %>	
				<div id= 'div_id_<%= thought.id %>'>
					<!-- new comments will go here via ajax -->
				</div>
				<% unless thought.comments.empty? %>
					<%= render thought.comments %>
				<% end %>
			</div>
		</div>
	</div> 
</div>


	